// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap/bootstrap.css";

a,
a:hover,
a:focus
a:active{
	text-decoration:none;
	color:inherit;
}

.list-group-item{
	display:flex;
	justify-content:space-between;
}